:host{
    cursor: pointer;
     width: 250px;
}

.folder{
    display: flex;
    align-items: center;
    justify-content: center;
  width: 100%;
  height: 140px ;


  border-radius: 5px 25px 25px 25px;
  filter: drop-shadow(0 0 0.75rem grey);

  background: #dcb06d;
  position: relative;
}

.folder::before{
    content:  '';
    position: absolute;
    top: -18px;
    width: 180px;
    height: 25px;
    background: #ecd0a9;
    border-radius: 25px 0 0 0;
    clip-path: path('M 0 0 L 160 0 C 185 2, 175 16, 200 18 L 0 50 z');
}
.folder::after{
  content: '';
  position: absolute;
  left:  40px;
  width: 85px;
  height: 5px;
  top: -18px;
  background: #7036E9;
  border-radius: 0 0 5px 5px;

}

.radius{
      border-radius: 5px 25px 0px 0px;
}
.text{
    padding-left: 8px;
 
    padding-bottom: 8px;
    color:#3E2723 ;
    
}
::ng-deep .text h2{
    font-weight: bold;
   font-size: 24px;
}
::ng-deep .text span{
    font-weight: medium;
    font-size: 16px;
}