<svg width="300" height="250" viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg">
                <defs>
                <!-- Top half-circle path -->
                <path id="top-arc" d="M 30,150 A 120,120 0 0,1 270,150"/>
                <!-- Bottom half-circle path -->
                <path id="bot-arc" d="M 30,150 A 120,120 0 0,0 270,150"/>
                </defs>
            
                <!-- Top arc text -->
                <text font-size="28" font-weight="600" letter-spacing="3" fill="#3E2723" font-family="VT323">
                <textPath href="#top-arc" startOffset="50%" text-anchor="middle">Portfolio Website</textPath>
                </text>
            
                <!-- Bottom arc text -->
                <text font-size="28" font-weight="500" letter-spacing="2" fill="#3E2723" font-family="VT323">
                <textPath href="#bot-arc" startOffset="50%" text-anchor="middle">Full Stack developper</textPath>
                </text>
            
                <!-- Middle straight text -->
                <text
                x="150" y="158"
                text-anchor="middle"
                dominant-baseline="central"
                font-size="48"
                font-weight="700"
                fill="#D85A30"
                font-family="VT323"
                letter-spacing="2"
                >SENNIA Mohamed</text>
            
</svg>