:host{
    padding: 16px 24px;
    display: flex;
    justify-content: center;
    align-items: center;   
    margin-bottom: 56px; 
        color: #b9844c;
        position: relative;
        background-color: #ecd0a9;
}
::ng-deep h1{
    font-size: 64px;
    font-weight: bold;

}