/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@source "../src/**/*.{html,ts}";
@source "../src/app/**/*.component.html";
@source "../src/app/**/*.component.ts";
@source "../src/**/*.html";
html{
  overflow-x: hidden;
}

@theme {
  /* Extend box-shadow */
  --box-shadow-combined: 0 8px 8px -4px rgba(16, 24, 40, 0.03), 0 20px 24px -4px rgba(16, 24, 40, 0.08);


  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-blur:rgba(252, 252, 253, 0.50);
  --color-gray-25: #FCFCFD;
  --color-gray-50: #F9FAFB;
  --color-gray-100: #F2F4F7;
  --color-gray-200: #E4E7EC;
  --color-gray-300: #D0D5DD;
  --color-gray-400: #98A2B3;
  --color-gray-500: #667085;
  --color-gray-600: #475467;
  --color-gray-700: #344054;
  --color-gray-800: #1D2939;
  --color-gray-900: #101828;
  --color-gray-950: #0C111D;

  --color-delet-50: #FEF3F2;
  --color-delet-100: #FEE4E2;
  --color-delet-500: #FF4D4F;
  --color-delet-600: #D92D20;

  --color-warning-50: #FFFAEB;
  --color-warning-100: #FEF0C7;
  --color-warning-500: #FDB022;

  --color-success-50: #ECFDF3;
  --color-success-100: #D1FADF;
  --color-success-200: #ABEFC6;
  --color-success-500: #32D583;
  --color-success-600: #039855;

  --color-gray-500: #667085;

  /* Brown / Sand (#d29a5a) */
--color-sand-50: #fbf3ea;
--color-sand-100: #f4e0c7;
--color-sand-200: #ecd0a9;
--color-sand-300: #e4c08b;
--color-sand-400: #dcb06d;
--color-sand-500: #d29a5a;
--color-sand-600: #b9844c;
--color-sand-700: #9f6f3f;
--color-sand-800: #855a32;
--color-sand-900: #6b4526;


/* Forest Green (#3a5e29) */
--color-forest-50: #e6efe2;
--color-forest-100: #c8dcc0;
--color-forest-200: #a8c79d;
--color-forest-300: #89b27b;
--color-forest-400: #6a9c58;
--color-forest-500: #3a5e29;
--color-forest-600: #314f23;
--color-forest-700: #283f1c;
--color-forest-800: #1f3015;
--color-forest-900: #16210f;


/* Dark Brown (#3E2723) */
--color-brown-50: #f3eceb;
--color-brown-100: #dccfcf;
--color-brown-200: #c5b3b2;
--color-brown-300: #ad9695;
--color-brown-400: #967978;
--color-brown-500: #3E2723;
--color-brown-600: #35211e;
--color-brown-700: #2c1b18;
--color-brown-800: #231512;
--color-brown-900: #1a0f0c;
}
.no-scroll{
    overflow: hidden;
}
@layer utilities {
 
}

*{
     font-family: "VT323", monospace;
}
html, desktop-body { height: 100%; }
